{
    "logs": [
        {
            "outputFile": "C:\\Users\\ASUS\\AndroidStudioProjects\\TextEditorSpinner\\app\\build\\intermediates\\incremental\\mergeDebugResources\\merged.dir\\values-da\\values-da.xml",
            "